header {
    margin-right: 30px;
    margin-top: 30px;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: right;
    align-items: center;
}

nav ul li {
    vertical-align: auto;
}

a {
    font-style: normal;
    text-decoration: none;
    padding: 10px;
    color: black;
}

.logout {
    width: 32px;
    height: 32px;
}