html, body {
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;    
}

.container {
    flex-grow: 1;
}

h1  {
    text-align: center;
}

footer {
    text-align: center;
}

header {
    margin-right: 30px;
    margin-top: 30px;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: right;
    align-items: center;
}

nav ul li {
    vertical-align: auto;
}

a {
    font-style: normal;
    text-decoration: none;
    padding: 10px;
    color: black;
}

.logout {
    width: 32px;
    height: 32px;
}

.btn_submit {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

fieldset {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    margin: auto;
    gap: 20px;
    padding: 20px;
}

fieldset div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Aligne verticalement les labels et inputs */
    width: 50%;
    margin: auto;
}

fieldset div a {
    padding: 0px;
    margin: auto;
}

label {
    width: 30%;
    /* Largeur fixe pour aligner les labels */
    text-align: right;
    /* Aligner le texte des labels à droite */
    margin-right: 10px;
}

input {
    width: 70%;
    /* Largeur des champs de saisie */
}

.div_submit {
    text-align: center;
    margin-top: 10px;
    width: 30%;
}

.input_error {
    border-color: red;
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.error_nickname {
    color: red;
}

@media all and (max-width:960px) {

    fieldset,
    fieldset div,
    .div_submit {
        width: 80%;
    }
}